* {
    box-sizing: border-box;
}

.overview {
    position: relative;
    display: flex;
    padding: 32px 144px;
    height: 50vh;
}

.overview > div {
    /* position: absolute; */
    width: 50%;
}

.title > div {
    margin: 18px 0;
}

.overview > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subject {
    margin: 10px 0px;
}

.subject > h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.subject > p {
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author > img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.author > b {
    margin: 0 10px;
}

.deadline > b {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    display: block;
}

.deadline > p {
    opacity: 0.8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title > button {
    width: 80%;
    color: whitesmoke;
    font-weight: bold;
    transition: 300ms ease-in-out;
}

.title > button:hover {
    letter-spacing: 1px;
}