.prog {
    padding: 10px 24px;
}

.prog > b {
    font-size: 24px;
    display: block;
}

.nested-progress {
    display: flex;
}

.nested-progress > img {
    height: 64px;
    width: 64px;
    object-fit: cover;
}

.nested-progress-bar {
    margin: 8px 16px;
    font-size: 80%;
}