.projectElement {
    width: 100%;
    margin: 24px 0px;
    display: flex;
}

.detailProjectImage {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.detailProjectTitle {
    margin: 0px 24px;
}

.detailProjectTitle > b, .detailProjectTitle > small {
    display: block;
}

.detailProjectTitle > small {
    color: gray;
    font-size: 80%;
    margin-top: 4px;
}