.projectElement {
    width: 100%;
    margin: 24px 0px;
    display: flex;
}

.projectImage {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.projectTitle {
    margin: 0px 24px;
}

.projectTitle > b, .projectTitle > small {
    display: block;
}

.projectTitle > small {
    color: gray;
    font-size: 80%;
    margin-top: 4px;
}