.held {
    padding: 10px 24px;
}

.held > img {
    margin: 4px;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.held > b {
    font-size: 24px;
    display: block;
}