* {
    margin: 0;
    padding: 0;
}


.chooserContainer {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    width: 50%;
    height: 50%;
    overflow: hidden;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 100%;
}

.choose-user__buttons--button--ppu {
    background-color: #3765dd;
    color: black;
}

.choose-user__buttons-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 50px;
}

/* .illustration-wrapper {
    position: relative;
    left: 50%;
} */

.illustration__image--person {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 760px;

}

.choose-user__title {
    font-weight: 700;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.illustration__feedback-wrapper {
    display: grid;
    width: 400px;
    position: absolute;
    color: #fff;
    left: 90px;
    top: 50%;
    margin-left: 760px;
}

.choose-user__buttons--button--spu {
    background-color: #ff5b61;
}

div {
    display: block;
}


.choose-user__buttons--button--spu {
    background-color: #ff5b61;
}
* {
    margin: 0;
}
user agent stylesheet
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.choose-user__buttons--button--ppu, .choose-user__buttons--button--spu {
    width: 330px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    border-radius: 3px;
    border: none;
}


.illustration__image--quote {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}


.illustration__feedback, .illustration__feedback--name {
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}


.illustration__feedback--name {
    font-style: italic;
}

.illustration__feedback, .illustration__feedback--name {
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.choose-user__buttons--button--spu:hover {
    background-color: #FF8A8E;

}


.choose-user__buttons--button--ppu:hover{
    background-color: #7595E7;
}