.info {
    display: flex;
}

.generic-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.contact {
    margin: 20px;
    align-self: center;
}

.contact > small {
    display: block;
}

.contact > button {
    text-decoration: none;
    font-weight: 600;
    background-color: darkgreen;
    width: 200px;
    border-radius: 3px;
    border: none;
    color: antiquewhite;
    transition: 400ms;
    padding: 3px 20px;
}

.contact > button:hover {
    background-color: green;
    color: black;
}