.project-list {
    padding: 32px 48px;
}

.projects-list-container {
    display: flex;
    justify-content: space-between;
    
}

.projects-list-container > b {
    font-size: 24px;
}

.projects-list-container > button {
    text-decoration: none;
    font-weight: 600;
    background-color: darkgreen;
    width: 200px;
    border-radius: 3px;
    border: none;
    color: antiquewhite;
    transition: 400ms;
    padding: 3px 20px;
}

.projects-list-container > button:hover {
    background-color: green;
    color: black;
}