.project-element {
    width: 100%;
    margin: 24px 0px;
    display: flex;
}

.detail-project-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.detail-project-title {
    margin: 0px 24px;
}

.detail-project-title > b, .detail-project-title > small {
    display: block;
}

.detail-project-title > small {
    color: gray;
    font-size: 80%;
    margin-top: 4px;
}